.container-md {
  max-width: 25rem;
  margin: auto;
  padding: 2rem;
  color: var(--lightGray);
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 1rem;
}

.btn-register {
  background-color: var(--paleGreen);
  border-color: var(--darkGray);
  color: var(--darkGray);
  font-weight: 500;
}

.btn-register:hover {
  background-color: var(--brickRed);
  border-color: var(--lightGray);
  color: var(--lightGray);
}
.link-register {
  color: var(--lightGray);
  font-weight: 500;
}
.link-register:hover {
  color: var(--brickRed);
}
